<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Animating Symbols</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      // This example adds an animated symbol to a polyline.

     function initMap() {
        var uluru = {lat: {{u}}, lng: {{r}}};
	var uluru2 = {lat: {{s}}, lng: {{t}}};	
	var uluru1 = {lat: 13.5482, lng: 80.0202};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
	
//plant1
        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">PLANT MOISTURE</h1>'+
            //'<div id="bodyContent">'+
            //'<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
            //'sandstone rock formation in the southern part of the '+
            /*'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
            'south west of the nearest large town, Alice Springs; 450&#160;km '+
            '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
            'features of the Uluru - Kata Tjuta National Park. Uluru is '+
            'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
            'Aboriginal people of the area. It has many springs, waterholes, '+
            'rock caves and ancient paintings. Uluru is listed as a World '+
            'Heritage Site.</p>'+*/
            '<p><a href="http://deekshaummadi.pythonanywhere.com/moist.html">'+
            'Moisture readings of plant1 </a> </p>'+
            
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
//plant2
        var contentString1 = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading1" class="firstHeading1">PLANT MOISTURE</h1>'+
            //'<div id="bodyContent">'+
            //'<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
            //'sandstone rock formation in the southern part of the '+
            /*'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
            'south west of the nearest large town, Alice Springs; 450&#160;km '+
            '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
            'features of the Uluru - Kata Tjuta National Park. Uluru is '+
            'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
            'Aboriginal people of the area. It has many springs, waterholes, '+
            'rock caves and ancient paintings. Uluru is listed as a World '+
            'Heritage Site.</p>'+*/
            '<p><a href="http://deekshaummadi.pythonanywhere.com">'+
            'Moisture readings of plant2 </a> </p>'+
            
            '</div>'+
            '</div>';

        var infowindow1 = new google.maps.InfoWindow({
          content: contentString1
        });


//image cloud

        var image = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQet51FWMy_GW_GHE9j-KRkVKAKYwylXt6hLduY65WmRkH4yoO2';
        var beachMarker = new google.maps.Marker({
          position: {lat: 13.5580, lng: 80.0480},
          map: map,
          icon: image
        });




 

       var marker1 = new google.maps.Marker({
          position: uluru2,
          map: map,
          title: 'PLANT 2'
        });
       marker1.addListener('click', function() {
          infowindow1.open(map, marker1);
        });
 

       var marker = new google.maps.Marker({
          position: uluru1,
          map: map,
          title: 'WATER'
        });
      // marker.addListener('click', function() {
        //  infowindow.open(map, marker);
        //});
 

	var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          title: 'PLANT 1'
		
        });
       marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

        // Define the symbol, using one of the predefined paths ('CIRCLE')
        // supplied by the Google Maps JavaScript API.
        var lineSymbol = {
          path: google.maps.SymbolPath.CIRCLE,
          path1: google.maps.SymbolPath.CIRCLE,
         
	 scale: 8,
          strokeColor: '#40a4df'
        };

        // Create the polyline and add the symbol to it via the 'icons' property.
        var line = new google.maps.Polyline({
          path: [{lat: 13.5482, lng: 80.0202}, {lat: {{u}}, lng: {{r}}}],
        
		         
	 icons: [{
            icon: lineSymbol,
            offset: '100%'
          }],
          map: map
        });
//plant2
        var line1 = new google.maps.Polyline({
         
          path: [{lat: 13.5482, lng: 80.0202}, {lat: {{s}}, lng: {{t}}}],
		         
	 icons: [{
            icon: lineSymbol,
            offset: '100%'
          }],
          map: map
        });

//rain case
        var line2 = new google.maps.Polyline({
          
          path: [{lat: 13.5580, lng: 80.0480}, {lat: {{u}}, lng: {{r}}}],
		         
	 icons: [{
            icon: lineSymbol,
            offset: '100%'
          }],
          map: map
        });

        var line3 = new google.maps.Polyline({
          
          path: [{lat: 13.5580, lng: 80.0480}, {lat: {{s}}, lng: {{t}}}],
		         
	 icons: [{
            icon: lineSymbol,
            offset: '100%'
          }],
          map: map
        });





//rain case

	
	if({{rain}}==0)
	{
	animateCircle(line3)	
	animateCircle(line2);
	}
	else
	{	

	



//plant1 values	

	if ({{moist}}>600) {
        animateCircle(line);}
	else
	{
		//animateCircle(line);
	}
//plant2 values
	
	if({{moist11}}>600){
	animateCircle(line1);}
	else
	{
		//animateCirclE(line1);
	}
}
	
}      

      // Use the DOM setInterval() function to change the offset of the symbol
      // at fixed intervals.
      function animateCircle(line) {
          var count = 0;
          window.setInterval(function() {
            count = (count + 1) % 200;

            var icons = line.get('icons');
            icons[0].offset = (count / 2) + '%';
            line.set('icons', icons);
        }, 20);
      }
//plant2
      function animateCircle(line1) {
          var count = 0;
          window.setInterval(function() {
            count = (count + 1) % 200;

            var icons = line1.get('icons');
            icons[0].offset = (count / 2) + '%';
            line1.set('icons', icons);
        }, 20);
      }


    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGYnOSw_ByS5jzZhnkGIV1Yy67lSj4yKY&callback=initMap">
    </script><CENTER><h3>IF THE ACTUATOR FOR A PARTICULAR PLANT IS SWITCHED ON THERE WILL BE A MOVEMENT OF WATER FROM WATER BODY TO PLANT IN MAP OTHERWISE NO MOVEMENT </h3><br>
<h3>IF THERES A MOVEMENT OF WATER FROM CLOUD TO PLANT,IT INDICATES ITS RAINING SO THAT THE ACTUATORS WILL GET TURNED OFF IRRESPECTIVE OF THE ACTUATORS ON STATE </H3>
  </body>
</html>
